<footer class="footer">
	<div class="rights">
		<span>© 2021-Present SKALE Labs. All rights reserved.</span>
		<a class="terms" href="https://skale.space">Website</a>
		<a class="terms" href="https://skale.space/security">Terms &amp; Security</a>
	</div>
</footer>
{{> footer-scripts }}