<footer class="footer">
	<div class="rights">
		<span>© 2021 SKALE Labs. All rights reserved.</span>
		<a class="terms" href="https://skale.network">skale.network</a>
		<a class="terms" href="https://skale.network/cookie-policy/">Cookies</a>
        <a class="terms" href="https://skale.network/privacy-policy/">Privacy Policy</a>
	</div>
</footer>
{{> footer-scripts }}