<div class="nav-components">
  <h3 class="nav-title">Using SKALE</h3>
  {{!-- TODO Research This docs component --}}
  {{#each (pick site.components "docs")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "introduction")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">dApp Developers</h3>
  {{#each (pick site.components "develop")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "ima")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "infrastructure")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "recipes")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "skaled")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "tools")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">SKALE Chain Operators</h3>
  {{#each (pick site.components "skale-chain-administration")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">Validators</h3>
  {{#each (pick site.components "validators")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "network")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "node-cli")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "validator-cli")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "skale-watchdog")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">Technology</h3>
  {{#each (pick site.components "technology")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "skale-manager")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">Partners</h3>
  {{#each (pick site.components "partnership")}}
  {{> navigation-component }}
  {{/each}}
</div>
