<div class="nav-components">
  <h3 class="nav-title">Start here</h3>
  {{#each (pick site.components "docs")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "learn")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">dApp Developers</h3>
  {{#each (pick site.components "develop")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "skaled")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "filestorage")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "ima")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">Validators</h3>
  {{#each (pick site.components "validators")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "network")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "node-cli")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "validator-cli")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "skale-watchdog")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">Technology</h3>
  {{#each (pick site.components "technology")}}
  {{> navigation-component }}
  {{/each}}
  {{#each (pick site.components "skale-manager")}}
  {{> navigation-component }}
  {{/each}}

  <h3 class="nav-title">Partners</h3>
  {{#each (pick site.components "partnership")}}
  {{> navigation-component }}
  {{/each}}
</div>